<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-12">
			<%= form_for (@url), remote: true  do |f|%>
			<div class="form-group">
        		<%= f.label 'Simplify links' %>
            	<%= f.text_field :basicUrl, class: 'form-control'%>
          	</div>
          	<div class="form-group">
        		<%= f.submit "Shorten url", class:'btn btn-primary boton-login' %>
          	</div>
		<%end%>
		</div>
	</div>
	<div class="row justify-content-center mt-5">
		<table class="table">
	  <thead>
	    <tr>
	      <%=render 'table' %>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
	</div>
</div>